body {
    font-family: Arial, sans-serif;
    background-color: #ddc5c5;
    color: #333;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: solid 2px black;
    
  }
  
  h1 {
    color: #333;
    font-size: 30px;
    margin-bottom: 10px;
  }
  
  h2 {
    color: #555;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  p {
    margin-bottom: 10px;
  }
  
  .card {
    margin-bottom: 20px;
  }
  
  .card-subtitle {
    color: #888;
    margin-top: -10px;
    margin-bottom: 10px;
  }
  
  .list-group-item {
    background-color: #f6f5f5;
    border: none;
  }
  
  #about {
    margin-bottom: 30px;
  }
  
  #experience, #education, #skills, #contact {
    margin-bottom: 40px;
  }